.search-input-wrapper{
  position: relative;
}

.search-input-wrapper svg{
  position: absolute;
  width: 15px;
  right: 15px;
  top: 50%;
  opacity: 0.6;
  transform: translateY(-50%);
}

.products {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: var(--spacing-m);
  grid-row-gap: var(--spacing-m);
  margin: var(--spacing-m) 0;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

.products-item{
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: var(--spacing-s);
}

.products-item:hover, .products-item-selected {
  border-color: var(--accent-color);
  box-shadow: 0 0 0 3px var(--semi-transparent-accent-color);
}

.search-button{
  margin: var(--spacing-s) 0;
}