.product {
  display: flex;
  align-items: center;
}

.product__content {
  line-height: 1;
  flex: 1;
}

.product__content a{
  color: var(--accent-color);
}

.product__image {
  display: block;
  background-size: cover;
  width: 80px;
  margin-right: var(--spacing-m);
  flex-shrink: 0;
}

.product-selected .product__image {
  width: 150px;
}

.product__image img {
  width: 100%;
  display: block;
}

.product__title {
  font-size: var(--font-size-m);
}

.product-selected .product__title {
  font-size: var(--font-size-l);
  font-weight: 500;
}

.product-selected .product__title a{
  color: var(--accent-color);
}

.product__variants {
  font-size: var(--font-size-xs);
  margin-top: var(--spacing-xs);;
}

.add__container {
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-m);
}