.product {
  display: flex;
  align-items: center;
}

.product__content {
  line-height: 1;
  flex: 1;
}

.product__image {
  display: block;
  background-size: cover;
  width: 80px;
  margin-right: var(--spacing-m);
  flex-shrink: 0;
}

.product-selected .product__image {
  width: 150px;
}

.product__image img {
  width: 100%;
  display: block;
}

.product__title {
  font-size: var(--font-size-m);
  margin-bottom: var(--spacing-s);;
}

.product-selected .product__title {
  font-size: var(--font-size-l);
  color: var(--accent-color);
  font-weight: 500;
}

.product__code {
  font-size: var(--font-size-xs);
  margin-bottom: var(--spacing-xs);;
  color: var(--light-body-color );
}

.add__container {
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-m);
}